  body{
    background-color: rgb(39, 36, 36);
  }
  .headerStyle {
color: rgb(226, 100, 100);
text-transform: uppercase;
 font-size: 4.5rem;
    font-weight: bold;
    letter-spacing: 3px;
    position: relative;
    width: 100%;
    text-align: center;
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .h1Style {
color: blue;
}

.h2Style {
color: rgb(223, 126, 46);
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 2.5vw;
    letter-spacing: 3px;
padding:30px ;
}

  .h4Style {
color: rgb(226, 188, 181);
font-style: italic;
text-align: center;
font-size: 1.5vw;

}



.divCont{
  display: flex; 
position: relative;
}

.linkStyleC {
  	border-radius: 8px;
  	background-color: #a5df8f;
  	border:1px solid #303030;
  	padding: 15px;
    color: rgb(71, 69, 69);
    display: grid;
       width: 200px;
position: inherit;
margin: 20px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 font-size: 1vw;
 text-align: center;
  letter-spacing: 1px;

  }
  .linkStyleL {
  	border-radius: 8px;
        margin-left: 20px;
  	background-color: #8ad4ce;
  	border:1px solid #424040;
  	padding: 15px;
    width: 200px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(73, 70, 70);
    display: grid;
margin: 20px;
 text-align: center;
 letter-spacing: 1px;
 font-size: 1vw;
    }

    .linkStyleL:hover{
  text-decoration: solid;
background-color: #c0f0ec;
}

.linkStyleC:hover{
 text-decoration: solid;
 background-color: #cfe9c5;
}

.linkStyleClic {
  	border-radius: 8px;
  	background-color: #460303;
  	border:1px solid #303030;
  	padding: 10px;
    color: rgb(255, 255, 255);
font-family: cursive;
 font-size: 1vw;
 text-align: center;
  letter-spacing: 1px;
  }

  .linkStyleClic:hover{
 text-decoration: solid;
 background-color: #73207a;
}


.listStyle {
color: rgb(19, 81, 131);
text-align: left;
}


.container {
  background-color: rgb(202, 202, 202);
  display: flex;
  flex-direction: column;
  padding: 40px;
 	border: 1px solid #303030;
  text-align: center;
  margin-left: 0%;
  font-size: 1vw;
}

.containerClic {
  background-color: rgb(197, 178, 172);
  color: rgb(146, 58, 58);
  padding: 20px;
  font-size: 1.2vw;
  text-align: center;
  float: inherit;
  margin-left: 0%;
  width: 480px;
border-color: #424040;
}

.imgStyle {
width: 500px;
height: 500px;
border-radius: 50%;
aspect-ratio: 1;
object-fit:cover;
float: inline-end;
margin-inline-start: 10%;
margin-top: 5%;
}

.imgStyle2 {
width: 200px;
height: 200px;
border-radius: 50%;
aspect-ratio: 1;
object-fit:cover;
float: inline-end;
margin-inline-start: 10%;
border: 5px solid black;
}

.imgStyle2:hover {
transform: translateY(-10px); /* Eleva ligeramente la tarjeta al pasar el ratón */
}

.imgStyle3 {
width: 200px;
height: 200px;
border-radius: 50%;
aspect-ratio: 1;
object-fit:cover;
float: inline-end;
margin-inline-start: 10%;
border: 5px solid black;

}


.imgStyle3:hover {
transform: translateY(-10px); /* Eleva ligeramente la tarjeta al pasar el ratón */
}

.h3Style {
color: rgb(58, 102, 223);
}



.footStyle {
  font-size: 32px;
  color: rgb(177, 66, 66);
  text-transform: uppercase;
  text-align: center;
    font-weight: 300;
    letter-spacing: 3px;
    margin-top: 50px;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}


